.listicon {
    list-style-type: none;
}

.listicon p {
    color: #5A5753;
    font-weight: bold;
}

.features-section-g {
    background-color: #f8f9fa !important;
    padding: 2rem 0;

}

.features-section-b {
    background-color: white !important;
    padding: 2rem 0;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}

.titleColor{
    color:rgb(51, 1, 127);
}
.titleColorHeader{
    color:#965FFF;
}
.btnColor{
    background-color: #00aa99 !important;
    background:  #00aa99 !important;
}