body{
  background-color: #F2F2F2;
}
.listicon {
    list-style-type: none;
}

.listicon p {
    color: #5A5753;
    font-weight: bold;
}

.features-section-g {
    background-color: #f8f9fa !important;
    padding: 2rem 0;

}

.features-section-b {
    background-color: white !important;
    padding: 2rem 0;
    align-items: center;
}
::-webkit-scrollbar {
    display: none;
}

.titleColor{
    color:#6600FF   
}
.titleColorHeader{
    color:#965FFF;
}

.btnColor{
    background-color: #6600FF !important;
    background:  #6600FF !important;
    border: none;
}
.global-button {
    background-color: #6600FF !important;
    color: white !important;
    border: none;
    padding: 0.5rem 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
  }
  
  .global-button:hover {
    background-color: #7436CC !important;
    text-decoration: none !important;
  }
.btnDanger {
    background-color: #FF4300;
    border: none;
  }
  
.btnDanger:hover {
    background-color: #E64A19;
  }
  .btnBlue {
    background-color: #00ECBB;
    border: none;
    font-weight: bold;
  }
  
  .btnBlue:hover {
    background-color: #00ECBB;
  }
